<!-- Launch file for configuring a remote machine (mipiDevelopment-V" with an environment shell)
   - will then call the required lower level launch files -->

<launch>
    <arg name="log_enable" default="false" />
    <arg name="remote_device" default="" />
    
    <machine name="mipiDev-5"
             address="mipiDevelopment-V"
             env-loader="/home/pi/catkin_ws/debug/miStepper_ROS/src/remote_env_loader.sh"
             user="pi"/>
    

    <!-- Start a ROSBag node to log miStepper output and input data -->
   
    <remap from = "/hel/usart1/mistepper_openloop/data_stream"  to = "/miStepper"/>
    <remap from = "/hel/usart1/mistepper_openloop/request"      to = "/miStepperReqt"/>


    <group ns = "hel">
        <include file="$(find mistepper_bringup)/launch/openloop.launch">
            <arg name="log_enable" value = "$(arg log_enable)"/>
            <arg name="remote_device" value = "$(arg remote_device)"/>
        </include>
    </group>

</launch>